<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      width: 1200px;
      height: 630px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF; 
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .media-works {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center; 
      gap: 10px;
      max-width: 1200px;
      max-height: 630px;
    }
    
    .image-container-1 img {
      width: 630px;
      height: 630px;
    }

    .image-container-2 img {
      width: 595px;
      height: 595px;
      padding-top: 17.5px;
    }
    
    .image-container-3 {
      width: 630px;
      height: 630px;
      padding-left: 285px;
    }

    .image-container-3 img:nth-child(1),
    .image-container-3 img:nth-child(2) {
      width: 310px;
      height: 310px;
    }

    .image-container-3 img:nth-child(3) {
      width: 310px;
      height: 310px;
    }

    .image-container-4 {
      width: 630px;
      height: 630px;
      padding-left: 285px;
    }

    .image-container-4 img:nth-child(1),
    .image-container-4 img:nth-child(2) {
      width: 310px;
      height: 310px;
    }
    .image-container-4 img:nth-child(3),
    .image-container-4 img:nth-child(4) {
      width: 310px;
      height: 310px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="media-works image-container-<%= media_works.size %>">
      <% media_works.each do |work| %>
        <img src="<%= work.image %>" alt="Media Work">
      <% end %>
    </div>
  </div>
</body>
</html>
