<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="MBTIデータベース" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= @ogp_image.image_url %>" />
  <meta property="og:description" content="MBTIタイプに紐づけて好きを共有するアプリ" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="<%= @ogp_image.image_url %>" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            custom: '#2EA9DF',
          },
        },
      },
    }
  </script>
  <script>
    window.onload = function() {
      window.location.href = "https://www.mbti-database.com/posts/<%= @post.id %>";
    }
  </script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
  <div class="text-center">
    <div class="loading loading-spinner loading-lg text-custom"></div>
  </div>
</body>
</html>
