/* アーティストの画像1枚のときのスタイル */
.image-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* アーティストの画像が2枚のときのスタイル */
.image-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* アーティストの画像が3枚のときのスタイル */
.image-container-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2等分のカラム */
  grid-template-rows: auto auto; /* 2行 */
  place-items: center; /* 中央揃え */
  gap: 5px; /* 画像間の隙間 */
}

.image-container-3 img:first-child,
.image-container-3 img:nth-child(2) {
  grid-row: 1; /* 1枚目と2枚目の画像は最初の行に配置 */
}

.image-container-3 img:last-child {
  grid-row: 2; /* 3枚目の画像は次の行に配置 */
  grid-column: 1 / span 2; /* 両方のカラムにまたがる */
}

/* アーティストの画像が4枚のときのスタイル */
.image-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.input-info {
  border-color: #7DB9DE !important;
}

.sidebar-link {
  display: block; /* ブロックレベル要素に変更 */
  font-size: 1.3em;
  border-radius: 10px;
}

.sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-link.active {
  font-weight: bold;
}